@charset "utf-8";
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
ul{list-style: none; padding: 0;margin: 0;overflow: hidden;}
a{text-decoration: none; color: black;}
p, h1{margin: 0;}
body{overflow-x: auto;overflow: scroll;overflow-x: hidden;}
header
h5{display: unset;font-size: unset;margin-block-start: 0em;margin-block-end: 0em;margin-inline-start: 0px;margin-inline-end: 0px;font-weight: unset;unicode-bidi: unset;}

header{height: 120px;border-bottom: 1px solid #e0e0e0bb;}
.Top{display: inline-block; height: 100%;width: 1416px; margin: 0;}
.Top .loginTab {height: 50px;position: relative; vertical-align: top;font-size: 14px;}
.Top .loginTab .tab{position: absolute;transform: translateY(-50%);top:60%}
.Top .loginTab .tab a{color: #fff;}
.Top .loginTab .rightT{right:0;overflow: visible;}
.Top .loginTab .rightT li{display: inline-block;margin-left: 20px;}
.Top .logoTab .tab{display: inline-block;margin-top: 16px;}
.Top .logoTab .logo{position: relative;font-size: 23px;font-weight: 400;float: left;}
.Top .logoTab .logo a{padding-left: 180px;}
.Top .logoTab .logo img{position: absolute;width: 150px;transform: translateY(-50%);top: 45%;left: 10px;}
.Top .logoTab .logo .home_p_name{position:relative;color: #fff;}
.Top .logoTab .logo .home_p_name::before{position: absolute;content: "";height: 20px;width: 1px;background-color: #dddddd67;transform: translateY(-50%);top:40%; left: -9px;}
.Top .logoTab .topmenu{position: relative;display: inline-block;width: 74%;font-size: 18px;word-break: keep-all;float:right;overflow: visible;padding-right: 40px;margin-top: 18px;}
.Top .logoTab .topmenu .dep1{display: inline-block;vertical-align: top;width: 14.5%;text-align: center;color: #fff;cursor: pointer;}
.Top .logoTab .topmenu .dep1 a{color: #fff;}
.Top .logoTab .topmenu .sitem{position: absolute;top:-8px;right: 0;width: 35px;vertical-align: top;}
.Top .logoTab .topmenu .sitem img{width: 35px;}
.Top .logoTab .topmenu .dep1 .dep2{font-size: 0;}
.Top .logoTab .topmenu .dep1.ex_link{width: 13%;font-size: 15px;}
.Top .logoTab .topmenu .dep1.ex_link div{display: inline-block;background-color: #034EA2;width: 120px;padding: 8px 0; border-radius: 50px; transform: translateY(-8px);}
.Top .logoTab .topmenu .dep1.ex_link div img{transform: translateY(2px);margin-left: 8px;}
header:hover{background-color: #ffffff;}
header:hover .Top .loginTab .tab a{color: #231815; }
header:hover .Top .loginTab .tab{color: #231815; }
header:hover .Top .logoTab .logo .home_p_name{color: #231815;}
header:hover .Top .logoTab .topmenu .dep1{color: #231815;}
header:hover .Top .logoTab .topmenu .dep1 .dep2 a{color: #5f5f5f;margin-left: 10px;padding: 6px 0;}
header.active{height: 450px;}
header.active{box-shadow: 0 3px 10px #11111149;position: relative;}
header.active .Top .logoTab::before{content: "";position: absolute;width: 100%; height: 1px; border-top: 2px solid #e0e0e0bb;top:120px;left: 0;}
header.active .Top .logoTab .topmenu .dep2{visibility: visible;margin-top: 33px;border-right: 0px solid #e0e0e0bb;height: 320px;}
header.active .Top .logoTab .topmenu .dep2 li{font-size: 16px;margin: 18px 0;letter-spacing:0px;text-align: left;}
header:hover .Top .logoTab .topmenu .dep1:not(.dep1.ex_link):hover{color: #014DA1;} 
header:hover .Top .logoTab .topmenu .dep1 .dep2 a:hover{color: #014DA1;}
header.active .Top .logoTab .topmenu li.dep1 .dep2:hover{background-color: #f3faff;}
.Top .logoTab .mob_menubtn{display: none;}

/*TOP BUTTON(맨위로)*/
.scroll__container{position: fixed;right: 3%;bottom: 5%;z-index: 1;}
#top{font-size: 16px;height: 55px;width: 55px;background-color: #014DA1 ;color:#ffffff;border: 0px;border-radius: 50%;/* outline: none; */cursor: pointer;box-shadow: 0px 0px 1px 8px #014ca171;font-weight: 700;}
#top:hover{box-shadow: 0px 0px 1px 10px #014ca171;transition: 0.3s;/* transition-duration: 0.05s; */}
#top span{position: relative;}
#top span:before{position: absolute;left: -7px;top: -5px;content: '';width: 13px;height: 13px;border-top: 3px solid #fff;border-right: 3px solid #fff;transform: rotate(-45deg);}
  
/*테이블*/
.table_area{width:100%;margin: auto;} 
table.comm{border-collapse: collapse;position:relative;width:100%;word-break:break-all;border-collapse: collapse;border-spacing: 0;}
table.comm thead th{ border-top:2px solid #001C58;border-bottom:1px solid #666;border-right:1px solid #dddee0;}
table.comm tbody td{border-right:1px solid #dddee0;border-bottom:1px solid #dddee0;}
table.comm .borR{border-right:0px;}

/*게시글 검색 라인*/
.noticeTableSearch{display: inline-block;width:100%;position: relative;z-index: 1;margin-bottom: 20px;}
.noticeTableSearch .comm{float:right;font-size: 16px;padding:4px 0;border-radius: 3px;}
.noticeTableSearch .txtinput{padding:11px;border:1px solid #dadce0;margin-right: 3px;width: 250px;}
.noticeTableSearch .search{width: 100px;background-color: #001C58;border:1px solid #001C58;color:#fff;height: 32px;line-height: 33px;cursor: pointer;text-align: center;}
.noticeTableSearch .option{width: 120px;text-align: left;margin-right: 6px;height: 32px; line-height: 33px; border:1px solid #dadce0;}
.noticeTableSearch .option p{margin-left: 8px;cursor: pointer;color: #757575}
.noticeTableSearch .option p img{width: 12px;float: right;transform: translateY(64%) translateX(-8px);opacity: 0.7;}
.noticeTableSearch .option ul{visibility: hidden;font-size: 0px;}
.noticeTableSearch .option ul li{margin: 0;} 
.noticeTableSearch .option ul.active{visibility: visible;box-shadow:0 0 0 1px #b4b4b4 inset;font-size: 15px; background-color: #fff;margin-top: 5px;width: 100%;z-index: 999;}
.noticeTableSearch .option ul.active li{margin: 10px 8px;cursor: pointer;}

.noticeTableSearch .count{position:relative;float: left;width:300px;margin-top: 22px;text-align: left;color: #707070;}
.noticeTableSearch .count img{position:absolute;width: 16.5px;left: 0;top:-3px}
.noticeTableSearch .count span{margin-left:20px}
.noticeTableSearch .count span.item1{margin-left:30px}

/*게시글 리스트*/
table.listTable{margin: 0;}
table.listTable thead th{padding: 14px 0;font-size: 17px;color: #2073d1;text-align: center;}
table.listTable tbody td{text-align: center;font-size: 16px;color: #4e4e4e;padding: 14px 0;}
table.listTable tbody td a{display:inline-block;color: #4e4e4e; max-width: 80%;}
table.listTable tbody td a p{display: inline-block;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;word-break: break-all;transform: translateY(3px);}
table.listTable tbody td a:hover{color: #014DA1; text-decoration:underline ;}
table.listTable tbody td.txtleft img{width: 14px; margin-left: 10px;transform: translateY(-8%);}
table.listTable tbody td.txtleft {text-align:left; padding: 0 10px;}
table.listTable tbody td.file_img img{width: 16px;}
table.listTable tbody td .notice{color: #f1f1f1;background-color: #0070d1;display: inline;padding: 2px 8px;padding-top: 4px;border-radius: 3px;font-size: 13px;}
table.listTable tbody td .cate{transform: translateY(-2px);display: inline-block;padding: 2px 0;padding-top: 4px;width: 50px;text-align: center;border-radius: 10px;font-size: 13px;margin-right: 5px;color: #fff;}
.cate.cate0{ background-color: #9852A9;}
.cate.cate1{ background-color: #63CDF5;}
.cate.cate2{ background-color: #0073BC;}
.cate.cate3{ background-color: #00ADEF;}
.cate.cate4{ background-color: #2E3192;}
table.listTable tbody td.nonepost{line-height: 100px;}
table.listTable tbody td .new {display: inline-block;background-color: #D37100;width: 18px;text-align: center;font-size: 11px;height: 18px;line-height: 19px;color: #fff;border-radius: 8px 8px 6px 0px;transform: translateY(-16%);margin-left: 10px;}

/*게시글 페이징*/
.paging{text-align: center;}
.paging .com{display: inline;} 
.paging ul li{margin: 0 8px;color: #868686;cursor: pointer;display: inline;}
.paging ul li.active{color: #0052af;}
.paging .btn img{margin: 0 10px;width: 14px;transform: rotate(90deg);cursor: pointer; opacity: 0.6;}
.paging .next img{transform: rotate(-90deg);}
.paging .btnL img{height: 12px;transform: rotate(180deg);cursor: pointer; opacity: 0.6;}
.paging .nextL img{transform: rotate(0deg);}
.paging .com{margin: 0 6px;color: #868686;cursor: pointer;}
.paging ul li {margin: 0 2px;}
.paging ul li div{display: inline-block;width: 32px; border: 1px solid #dddddd00;padding: 4px 0;border-radius: 6px;}
.paging ul li.active div{color: #fff;background-color: #0052af;}
.paging ul li:not(.active) div:hover{background-color: #e3f9ff;}

/*게시글 상세 페이지*/
table.viewTable .date span{color: #4d71be; margin-left: 30px;}
table.viewTable .title{padding: 16px 0;font-size: 24px; color: #1d1d1d;word-break: keep-all;color: #001f61;    font-weight: 400;}
table.viewTable .row1 td{padding: 8px 10px; text-align: left;color: #1d1d1d;}
table.viewTable .row1 td span{margin-left: 10px;color: #868686;}
table.viewTable .row1 td.down p{margin-left: 10px;color: #868686;}
table.viewTable .row1 td.down p:not(:first-child){margin-top: 4px;}
table.viewTable .row1 td.down p:hover{color: #014DA1;text-decoration: underline;}
table.viewTable .row1 td.down div{float: left;}
table.viewTable .row1 td.txtR{text-align: right;}
table.viewTable .row2 td{padding: 10px;text-align: left;} 
table.viewTable .row2 td.content div{padding:20px 10px;}
table.viewTable .row2 td.content div img{margin: auto;display: block;width: 100%;}
table.viewTable .row2 td iframe{width: 100% !important;height: 890px;}
table.viewTable .row2 td p{min-height: 16px;}
/*게시글 버튼 - 글쓰기, 수정, 삭제 버튼*/
.viewBtn{display: inline-block;width: 100%;margin-top: 10px;}/**/
.viewBtn a:hover{color: #014DA1;text-decoration: underline;}
.viewBtn div:hover{color: #014DA1;cursor: pointer;text-decoration: underline;}
.viewBtn div{border: 1px solid #5a5a5a;padding: 6px 10px;}
.viewBtn div{float: left;margin-right: 6px;}/**/
.viewBtn div.list{float: right;margin-right:0;margin-left: 6px;}/**/
.viewBtn.viewMarB{margin-bottom: 100px;}
.table_area .authBtn{text-align: center;}
/*게시글 - 글쓰기 페이지*/
table.writeTable{width: 936px;margin: auto;}
table.writeTable thead th{border:0px;font-size: 24px;padding-bottom: 16px; text-align: left;}
table.writeTable tbody .title td{border-top:2px solid #001C58;}
table.writeTable tbody tr td{padding: 10px;}
table.writeTable .content .txt{height: 400px;}
table.writeTable .content .txt iframe{width: 100% !important;}
table.writeTable .title .txt input{width: 95%;padding: 8px 5px;font-size: 16px;border: 1px solid #aeb1b7;border-radius: 4px;}
table.writeTable .noti_option td.checkbox{text-align: left;padding-left: 30px;}
table.writeTable .noti_option td.checkbox span{margin-left: 8px;margin-right : 15px;}
table.writeTable input.secret_key{width: 100px;margin-right: auto;display: block;padding: 5px 5px; margin-left: 12px;border: 1px solid #aeb1b7;border-radius: 4px;}
.writeBtn div{float: right;margin-right: 6px;}
.writeBtn .next{cursor: pointer;}
table.writeTable tbody tr td.chapcha {padding-left:20px;} 
table.writeTable tbody tr td .cate_op{width: 160px;display: block;margin-right: auto;margin-left: 12px;}

/*글쓰기 페이지 - 파일첨부*/
.insert_file{margin: 6px 0;}
.insert_file .upload-name{float: left;border-radius: 4px;border: 1px solid #aeb1b7;color: #999;font-size: 13px;padding: 8px;width: 70%;margin-left: 10px;}
.insert_file label {float: left;background-color: #999;border: 1px solid #707070;border-radius: 4px;color: #fff;cursor: pointer;font-size: 13px;margin-bottom: 5px;margin-left: 10px;padding: 6px 11px;}
.insert_file input[type=file]{border: 0;height: 0;overflow: hidden;padding: 0;position: absolute; width: 0;}
.insert_file .cancle{cursor: pointer;float: left;text-align: center;border: 2px solid #838383;border-radius: 16px;width: 20px;height: 20px;transform: translateY(12%);margin-left: 10px;}
.insert_file .cancle:hover{border: 2px solid #e05a50;}
.insert_file .cancle img{width: 10px;height: 10px; vertical-align: middle;} 

/*footer*/
footer{width: 100%;background-color: #2F2F2F;color: #fff;}
footer a{color: #fff;}
footer .link{position: relative;padding: 50px 0;width:1416px; height: 100%; margin: auto;text-align: left;}
footer .link .logo a {position: relative;padding-left: 220px;}
footer .link .logo a img {position: absolute;width: 200px;transform: translateY(-50%);top: 45%;left: 0px;}
footer .link .logo a{font-size: 25px;}
footer .link ul{position: absolute;top: 50%;right: 0;transform: translateY(-50%);}
footer .link ul li{display: inline-block;margin-left: 30px;}
footer .link ul li:first-child a{color: #FFBD5E;}
footer .m_line{width: 100%;border-bottom: 1px solid #ffffff57;}
footer .info{width:1416px;margin: auto;padding: 50px 0;text-align: left;font-size: 18px;color: #CDCDCD;}
footer .info ul li{display: inline-block;margin-right: 50px;margin-bottom: 50px;vertical-align: top;}
footer .info ul li .titl{color: #fff;margin-bottom: 10px;}
footer .info ul li p:not(.titl){margin-bottom: 2px;}
/* CKEDITOR */
.ck.ck-editor{width: 100%; height: 100%;}
.ck-source-editing-area{height: 100vh;}
.ck-editor__editable{ width: calc(100% - 41px); min-height: 450px;margin: auto;}
.ck.ck-editor__top.ck-reset_all{width: calc(100% - 20px); margin: auto;}

/* POPUP */
#popup-slide-box { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; color: #fff; }
#popup-slide-box > .inner { height: 100%; display: flex; justify-content: center; align-items: center; position: relative; }
#popup-slide-box .slide-wrap { width: 100%; max-width: 1300px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; padding: 0 20px; }
#popup-slide-box .swiper-slide{overflow: hidden;}
#popup-slide-box .slider a { display: block; }
#popup-slide-box .slider img { width: 100%; height: auto; cursor: pointer;}
#popup-slide-box .slider img:hover{transition: all 0.3s;  transform: scale(1.03);}
#popup-slide-box .swiper-pagination { position: static; width: auto; display: flex; align-items: center; gap: 8px; margin-right: 10px; }
#popup-slide-box .swiper-pagination .line { width: 30px; height: 1px; background-color: #fff; }
#popup-slide-box .swiper-pagination-current { font-weight: 600; }
#popup-slide-box .ctrl-box { display: flex; align-items: center; justify-content: flex-end; gap: 5px; margin-bottom: 30px; }
#popup-slide-box .ctrl-box button { position: static; transform: unset; color: #fff; opacity: 1; margin: 0; width: auto; display: flex; justify-content: center; align-items: center; height: auto; background-color: transparent;    border: none; }
#popup-slide-box .ctrl-box button::after { display: none; }
#popup-slide-box .ctrl-box .btn-play, #popup-slide-box .ctrl-box .btn-pause { display: none; font-size: 21px; }
#popup-slide-box .ctrl-box .btn-play.active, #popup-slide-box .ctrl-box .btn-pause.active { display: flex; }
#popup-slide-box .ctrl-box .btn-play:hover, #popup-slide-box .ctrl-box .btn-play:focus, #popup-slide-box .ctrl-box .btn-pause:hover, #popup-slide-box .ctrl-box .btn-pause:focus { transform: scale(1.3); }
#popup-slide-box .swiper-button-prev, #popup-slide-box .swiper-button-next { font-size: 19px; }
#popup-slide-box .swiper-button-prev i, #popup-slide-box .swiper-button-next i { font-weight: 800; }
#popup-slide-box .btn-box { display: flex; justify-content: center; gap: 12px; margin-top: 35px; }
#popup-slide-box .btn-box button { padding: 15px 20px; background-color: #034EA2; border-radius: 50px; border: none; color: #FFFFFF; cursor: pointer;}
#popup-slide-box .btn-box .btn-cls { padding: 15px 20px; background-color: #555555; border-radius: 50px; }
#popup-slide-box .btn-box button:hover, #popup-slide-box .btn-box button:focus { filter: brightness(0.8); }
#popup-slide-box .popup-slide-bg { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0; background-color: rgba(0, 0, 0, 0.3); }
.btn_popup .cnt {width: 25px; height: 25px; background-color: #034EA2; border-radius: 50%; display: flex; justify-content: center; align-items: center; position: absolute; right: 0; top: 0; color: #FFF !important;}
#popup-slide-box .swiper-slide {margin: auto !important;}
#popup-slide-box .swiper-slide .img img{ width: 88% !important; height: auto !important; }

/*######### 서브페이지 ###########*/
.Subcontain{position: relative;;background-color: #0077ff00; width: 1416px;margin: auto;min-height: 730px;display: inline-block;margin-bottom: 200px;}
.contentMenu{position: absolute;width: 20%;top:-35px;word-break: keep-all;}
.contentBox{width: 76%;margin-left: auto;text-align: left;padding-top: 100px;word-break: keep-all;}
.noneContentMenu-box{width: 100%;padding-top: 100px;}
/*----서브페이지 사이드메뉴*/
.contentMenu .dep1_nm{position: relative;color: #fff;background:linear-gradient(160deg, #034EA2, #003774);box-shadow: 3px 3px 6px #00000049;font-size: 30px; font-weight: 400;border-radius: 0 20px 0 20px;height: 160px;}
.contentMenu .dep1_nm p{position: absolute;transform: translateX(-50%) translateY(-50%);top:50%;left: 50%;width: 85%;}
.contentMenu ul{margin-top: 10px;}
.contentMenu ul li{position: relative;margin: 8px 0;}
.contentMenu ul li p{padding: 15px 20px;border-radius: 10px;border: 1px solid #D5D5D5;font-size: 18px;text-align: left;}
.contentMenu ul li p.active{border: 1px solid #003774;background-color: #003774;color: #fff;}
.contentMenu ul li img{position: absolute;right: 20px;top:50%;transform: translateY(-50%);}

/*----서브페이지 contents*/
.cont-area{counter-reset: number 0;}
.cont-h {font-size: 32px;font-weight: 400;}
.cont-m-num{position: relative;padding-left: 34px;margin-bottom: 18px;font-size: 24px;color: #0062CF;}
.cont-m-num::before{position: absolute;counter-increment: number 1; content:counter(number);width: 26px;padding: 2px 0;border-radius: 5px; font-size: 14px;line-height: 20px;background-color: #0062CF;color: #fff;text-align: center; left: 0;top:0;}
.cont-s{position: relative;;font-size: 18px;padding-left: 15px;margin-left: 10px;line-height: 26px;}
.cont-s::before{position: absolute;content: "";width: 4px;height: 4px;border-radius: 50%;background-color: #111;left: 0;top: 9px;}
.cont-s.mgM{margin-bottom: 40px;}

.mgB{margin-bottom: 100px;}
.mgB5{margin-bottom: 5px;}
.mgB20{margin-bottom: 20px;}
.mgB40{margin-bottom: 40px;}
/* 1. 모집요강 */
.guideline_file{text-align: left;margin-bottom: 20px;overflow: visible;}
.guideline_file li{display: inline-block;}
.guideline_file li.filezoom{border: 1px solid #555;color: #555;padding: 15px 20px;padding-right: 40px;cursor: pointer;margin-left: 20px;}
.guideline_file li.filedown a{display: inline-block;border: 1px solid #38A100;color: #38A100;padding: 15px 20px;padding-right: 40px;cursor: pointer;}
.guideline_file li:hover{box-shadow: 3px 3px 5px #08080823;}
.guideline_file li img{vertical-align: middle;transform: translateX(100%);}
.guideline_pdfview div {display: inline-block;vertical-align: top;}
.guideline_pdfview .pdfview{width: 65%;height: 790px;box-shadow:inset 0 0 0 0px #555;}
.guideline_pdfview .pdfindex{width: 32%;margin-left: 3%; box-shadow:inset 0 0 0 0px #555;padding-top: 20px;word-break: keep-all;}
.guideline_pdfview .pdfindex p:not(.paraphrase){font-size: 24px;font-weight: 400;}
.guideline_pdfview .pdfindex p.paraphrase{font-size: 14px;color:#898989;margin-top: 4px;}
.guideline_pdfview .pdfindex ul{margin-top: 40px;border-top: 2px solid #777;max-height: 748px;overflow-y: auto;}
.guideline_pdfview .pdfindex ul li{position: relative;padding: 20px;border-bottom: 1px solid #777;cursor: pointer;}
.guideline_pdfview .pdfindex ul li::before{position: absolute;content: "";width: 3px;height: 3px;border-radius: 50%;background-color: #777;top:28px;left: 10px;}
.guideline_pdfview .pdfindex ul li.level1{padding-left: 35px;color: #6e6e6e}
.guideline_pdfview .pdfindex ul li.level1::before{left: 20px;width: 6px;height: 1px;background-color: #4d4d4d;}
.guideline_pdfview .pdfindex ul li:hover{color: #0052af;}


/* 2. 원서접수 */
.cont-query{counter-reset: number 0;display: table;width: 100%;padding-top: 40px;padding-bottom: 40px;background-color: #F8F8F8;border-radius: 20px;box-shadow: inset -4px 4px 7px #1111111e;}
.cont-query li{position: relative;;display: table-cell;text-align: center;padding-top: 45px; width: 16.66%;}
.cont-query li::before{position: absolute;counter-increment: number 1; content:"0"counter(number); top:0px;left: 50%;transform: translateX(-50%);width: 35px;height: 35px;line-height: 35px;border-radius: 50%;background-color: #D8F0FF;}
.cont-query li:not(:last-child):after{position: absolute;content: ">";top:50%;right: 0;transform: translatey(-50%);color: #adadad;}

figure.table{margin: 0;}
.cont-table{text-align: center;font-size: 15px;}
.cont-table{width:100%;border-collapse: collapse;border-spacing: 0;}
.cont-table thead th{border-right:1px solid #D6D6D6;font-weight: 300;font-size: 18px;padding: 15px 0;background-color: #DFEFFF;}
.cont-table thead th:first-child{border-radius: 10px 0 0 10px;}
.cont-table thead th:last-child{border-radius: 0 10px 10px 0;}
.cont-table tbody td{border-right:1px solid #D6D6D6;border-bottom:1px solid #D6D6D6;}
.cont-table tbody th{border-right:1px solid #D6D6D6;border-bottom:1px solid #D6D6D6;font-weight: 300;}
.cont-table tbody td:last-child, .cont-table thead th:last-child{border-right: 0px;}
.cont-table thead th.font_s_14{font-size: 14px;}
.cont-table tbody th{font-size: 16px;padding: 15px 8px;word-break: keep-all;background-color: #f7fafc;}
.cont-table tbody td{font-size: 16px;padding: 15px 8px;word-break: keep-all;}
.cont-table tbody td a{color: #111;}
.cont-table tbody td a:hover{color: #032b81;text-decoration: underline;}
.cont-table tbody td.borR, .cont-table tbody th.borR, .cont-table thead th.borR{border-right:1px solid #D6D6D6;}
.cont-table tbody td.borR_none, .cont-table tbody th.borR_none, .cont-table thead th.borR_none{border-right:0px;}
.cont-table thead th.none, .cont-table tbody td.none, .cont-table tbody th.none {border:0px; background-color: initial;}
.cont-table tbody td p{padding: 2px 0;}








/*해당페이지 내용 없을 때 - 자료준비중
.contents_none{border: 1px solid #ccc; border-radius: 20px; padding: 90px 0;text-align: center;word-break: keep-all;}
.contents_none img{width: 340px;margin-bottom: 10px;}
.contents_none p.title{margin: 25px 0; font-weight: 400;font-size: 30px;}
.contents_none p{margin: 10px 0;font-weight: 300;font-size: 18px;}*/

@media screen and (max-width: 1080px) { 
    #popup-slide-box .ctrl-box { margin-bottom: 20px; } 
    #popup-slide-box .btn-box { font-size: 14px; gap: 8px; margin-top: 25px; } 
    #popup-slide-box .btn-box button { padding: 12px 15px; } 
}
@media screen and (max-width: 480px) { 
    #popup-slide-box .slide-wrap .swiper-wrapper { justify-content: flex-start; } 
}

@media (max-width: 1420px){ 
    .Top {width: 95%;}
    .Subcontain {width: 95%;}
    /* .table_area {width: 95%;}  */
    footer .link  {width: 95%;}
    footer .info {width: 95%;}
}
@media (max-width: 1310px){
    .Top .logoTab .topmenu {width: 70%;font-size: 16px;}
    .Top .logoTab .topmenu .dep1.ex_link{font-size: 14px;}
    .Top .logoTab .topmenu .dep1.ex_link div{width: 100px;}  
    .Top .logoTab .topmenu .sitem img {width: 30px;}
    header.active .Top .logoTab .topmenu .dep2 li {font-size: 14px;} 
}
@media (max-width: 1220px){

}
@media (max-width: 1185px){ 
    header {height: 80px;}
    .Top {padding-top: 12px;}
    .Top .loginTab {display: none;}
    .Top .logoTab{position: relative;}
    .Top .logoTab .topmenu{display: none;}
    .Top .logoTab .mob_menubtn{display: inline;position: absolute;top:10px;right: 0;width: 35px;vertical-align: top;}
    .Top .logoTab .mob_menubtn img{width: 30px;}
    .mob_menu{position: fixed; background-color: #0a0a0a62; width: 100%;height: 100%;z-index: 999;top:0%;left: 0%;}    
    .mob_menu .menu{position: fixed; background:linear-gradient(-44deg, #001C58, #005780f6 80%);background: #fafafa; width: 390px;height: 100%;z-index: 999;top:0%;right: 0%;overflow-y: auto;} 
    .mob_menu  ul {position: relative; display: inline-block; width: 88%;} 
    .mob_menu  ul > li > div {height:42px;line-height:42px;text-align:left;color:#161616; font-size:16px;}
    .mob_menu .dep1:first-child{margin-top: 20px;}/*border-top: 1px solid #c5c5c565;*/
    .mob_menu .dep1 div.dep1a{padding: 10px 25px;border-bottom: 1px solid #c5c5c565;cursor: pointer;} 
    .mob_menu .dep1 div.dep1a.curt{color: #0069e0;} 
    .mob_menu .dep1 div.dep1a:hover{ box-shadow:0 0px 0px 1px #0189f1 inset;}
    .mob_menu .dep1 img.nodeg{width: 12px; float: right;margin: 18px 0 0 0;transition: all 0.2s; -webkit-transition: all 0.2s; -moz-transition: all 0.2s;}
    .mob_menu .dep1 img.imgdeg{transform: rotate(180deg);width: 12px; float: right;margin: 18px 0 0 0;transition: all 0.2s; -webkit-transition: all 0.2s; -moz-transition: all 0.2s;}
    .mob_menu .dep1 .dep2 { position: relative;  visibility: hidden; opacity: 0; z-index: 11; display:none;padding: 0px 6px;height:auto !important;border-left:none; }
    .mob_menu .dep1 .dep2{visibility: visible;opacity: 1; display: block;}
    .mob_menu .dep1 .dep2 .submenu {display:block;background-color: #e7e7e7;width: 100%;list-style: none;padding: 18px 0px 4px 0px;margin-bottom: 11px;}
    .mob_menu .dep1 .dep2 .submenu a:before{display:inline-block;content:'';width:3px;height:3px;border-right:10px;background: #2c2c2c;vertical-align:middle;margin-right:5px;}
    .mob_menu .dep1 .dep2 .submenu:empty{display: none;}
    .mob_menu .dep1 .dep2 .submenu li {line-height: 1;margin-bottom: 20px;}    
    .mob_menu .dep1 .dep2 .submenu li a {width:60%; display: block; text-align: left; font-weight: 300; letter-spacing: -0.03em; color: #2c2c2c; font-size: 15px; display:block;padding: 0px;padding-left: 30px;margin-bottom: 15px;} 
    .mob_menu .dep1 .dep2 .submenu li a:hover{color:#5fb8fc; text-decoration: underline;}
    .mob_menu .x_area p{color:#ffffff;padding-top: 20px;float: left;font-size: 22px;padding-left: 20px;font-weight: 400;}
    .mob_menu .x_area .x{cursor: pointer;width: 44px;height: 44px;color:#bebebe;margin-bottom: 1px;float: right;margin: 10px;}
    .mob_menu .x_area .x img{width: 15px;height: 16px;margin-top: 14px;}
    .mob_menu .x_area .x:hover{background-color: #1d9dff;border-radius: 30px;}
    .mob_menu .top_area ul{width: 100%;padding: 15px 0;color: #fff;font-size: 14px;border-top: 1px solid #ffffff28;}
    .mob_menu .top_area ul li{position: relative;display: inline-block;width: 50%;}
    .mob_menu .top_area ul li a{color: #fff;}
    .mob_menu .top_area ul li:not(:first-child):before{content: "";position: absolute;width: 3px;height: 3px;border-radius: 3px;background-color: #ffffff65;left: 0;top:50%;transform: translateY(-50%);}
    .mob_menu .top_area{background-color: #001C58;border-radius: 0 0 30px 0;}

    /* 서브메뉴 */
    .contentMenu{display: none;}
    .contentBox{width: 100%;}
}


@media (max-width: 980px) {
    .is-wauto-box {overflow-x: auto;}
    table.listTable{min-width:980px;}
    table.listTable.of_n{min-width:0;width:100%;}   
    table.writeTable{width: 100%; }
    .cont-table.of_n{min-width:0;width:100%;}    
}
@media (max-width: 880px){ 
    .noticeTableSearch .count{width: 100%;margin-top: 0;margin-bottom: 10px;}
   
}
@media (max-width: 770px){ 
    .guideline_pdfview .pdfview{width: 100%;}
    .guideline_pdfview .pdfindex{display: none;}
    
}
@media (max-width: 710px){     
    .noticeTableSearch .search {width: 80px;}
    .noticeTableSearch .txtinput {width: 200px;}
    .noticeTableSearch .option {width: 100px;}
    footer .link {padding-bottom: 36px;}
    footer .link ul {position: static;transform: none;margin-top: 42px;}
    footer .link ul li {margin-left: 0;margin-right: 30px;}
    footer .info ul li {margin-bottom: 25px;word-break: keep-all;}
    footer .info > p{margin-top: 10px;}
}  


@media (max-width: 580px){ 
    .contents_none{padding: 54px 20px;}
    .contents_none img {width: 60%;}
    .contents_none p.title{margin: 16px 0;font-size: 24px;}
    .contents_none p {margin: 4px 0;font-size: 16px;}
    table.writeTable tbody td{font-size: 12px;}
    table.writeTable tbody tr td .cate_op {width: 60%;}
    table.writeTable .title .txt input {font-size: 12px;}
    table.writeTable .noti_option td.checkbox {padding-left: 16px;}
    table.writeTable input.secret_key {width: 50%; margin-left: 4px;}
    table.writeTable .noti_option td.checkbox span {margin-left: 2px;}
    table.writeTable thead th {width: 100%;}
}


@media (max-width: 500px){ 
    .Top .logoTab .logo{font-size: 18px;}
    .Top .logoTab .logo a {padding-left: 160px;}
    .Top .logoTab .logo img {width: 130px;}
    .cont-s {font-size: 16px;}
    .cont-h {font-size: 28px;}
    .cont-m-num { font-size: 22px;padding-left: 28px;}
    .cont-m-num::before {width: 22px;font-size: 12px;line-height: 16px;}
    table.viewTable .row2 td iframe{height: 400px;}
    .guideline_pdfview .pdfview iframe{height: 560px;}
    .cont-query li {display: block;width: 100%;margin: 8px 0;}
    .cont-query li:not(:last-child):after {display: none;}
    .cont-query li::before {font-size: 12px;width: 28px;height: 28px;line-height: 28px;top: 10px;}
    .cont-query {padding-top: 4px;padding-bottom: 4px;}
    .guideline_file li img{display: none;}
    .guideline_file li.filedown a,.guideline_file li.filezoom {padding: 15px 20px;margin-left: 8px;font-size: 12px;}
    footer .link .logo a {padding-left: 150px;font-size: 20px;}
    footer .link .logo a img {    width: 140px;}
    footer .link ul {margin-top: 30px;font-size: 12px;}
    footer .link ul li {margin-right: 16px;}
    footer .info {font-size: 14px;padding: 40px 0;}
    footer .info ul li {margin-bottom: 18px;margin-right: 25px;}
    footer .info ul li .titl {margin-bottom: 5px;}
    footer .info > p {        font-size: 12px;}

}
@media (max-width: 480px){
    #popup-slide-box .slide-wrap div.img img{width: 300px;height: 300px;}
    
    
    .noticeTableSearch .comm{font-size: 14px;}
    .noticeTableSearch .option{width: 80px;height: 30px;}
    .noticeTableSearch .option p{width: 100%;overflow: hidden; margin-left: 4px;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
    .noticeTableSearch .option ul.active {font-size: 12px;}
    .noticeTableSearch .search{width: 50px;height: 30px;}
    .noticeTableSearch .txtinput{width: 100px;}
    .paging ul li{font-size: 12px;margin: 0 4px;}
    .paging ul li div {width: 22px;}
    .paging .btnL img {height: 10px;}
    .paging .com {font-size: 12px;}

 }

@media (max-width: 450px){ 
    
    .pathbar {margin-top: 50px;}
     
}
@media (max-width: 440px){
}

@media (max-width: 434px){ 
    
    table.viewTable .title{padding: 10px 0;font-size: 18px;}
    table.viewTable .row1 td {padding: 4px 0px;word-break: keep-all;font-size: 13px;}
    .insert_file .upload-name {width: 56%;}
    .insert_file label {padding: 6px 4px;margin-left: 5px;font-size: 12px;}
    .insert_file .cancle {margin-left: 5px;}
}

@media (max-width: 408px){  
    .viewBtn div{padding: 3px 7px;}
    table.viewTable .row1 td{padding: 6px 1px;font-size: 10px;}
    table.viewTable .title{word-break: keep-all;padding: 8px 0;font-size: 16px;} 
}
@media (max-width: 360px){ 
    #popup-slide-box .btn-box button {font-size: 12px;padding: 10px 15px;}
    #popup-slide-box .btn-box .btn-cls {padding: 10px 15px;}
    #popup-slide-box .slide-wrap div.img img {width: 280px;height: 280px;}
    .noticeTableSearch .count{font-size: 14px;}
    .noticeTableSearch .count img {width: 14px;top: -2px;}
    .noticeTableSearch .count span.item1 {margin-left: 24px;}

}
@media (max-width: 344px){ 
    .contentBox {margin: 0;}
}


@media (max-width: 320px){ 
    #popup-slide-box .slide-wrap div.img img {width: 240px;height: 240px;}
    #popup-slide-box .btn-box button {font-size: 10px;}
}


